.body{
    background-color:blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.main{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.title{
    background-color: black;
    color: white;
}
.button{
    width: 140px;
    height: 80px;
    background-color: red;
    color: white;
}